footer{
    height: 10vh;
    margin-top: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
footer .footer-text{
    text-align: center;
}
footer .footer-text span{
    font-family: 'Space Mono', monospace;
    color: #ADAAAA;
    
}
.account-links{
    width: 90%;
    height: 5vh;
    color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.account-links .link-icon{
    font-size: 2rem;
}